# Copy this file to .env and fill in your actual values
SQL_SERVER_DRIVER="ODBC Driver 13 for SQL Server"
SQL_SERVER_SERVER=
SQL_SERVER_DATABASE=
SQL_SERVER_USERNAME=
SQL_SERVER_PASSWORD=
SQL_SERVER_TRUSTED_CONNECTION=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=